# VS Code & PyCharm stuff
.vscode/
/.idea

# Python virtual environments and cache
**/.venv/
**/__pycache__/

# Folder for local stuff
local/

# QGIS projects
qgis/

# JavaScript stuff
**/node_modules/

# App stuff
threejs/assets/
threejs/dist/
threejs/backend/feedback.log

# 3DCityDB stuff
database/citydb-tool*/
database/cjdb/

# MACOS stuff
.DS_Store
**/.DS_Store

# Folder for local stuff
local/
