# VS Code stuff
.vscode/

# Python virtual environments and cache
**/.venv/
**/__pycache__/

# Folder for local stuff
local/

# QGIS projects
qgis/

# Data
assets/

# three.js stuff
threejs/node_modules/
threejs/assets/
threejs/dist/

# 3DCityDB stuff
database/citydb-tool*/

# MACOS stuff
.DS_Store
**/.DS_Store

# Folder for local stuff
local/
