/* Styling for the icons of the map*/

.icons-centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    max-width: 100%;
    margin: 0 auto;
}

.icon-text-content {
    position: relative;
    white-space: nowrap;
    font-family: var(--font-sans);
    font: 14px sans-serif;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
    pointer-events: auto;
    padding: 4px;
    border-radius: 5px;
}

.icons-svg-row {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 2px;
    justify-content: center;
}

.icon-svg-container {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 20%;
}

.icon-svg-bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.icon-svg-content {
    width: 80%;
    height: 80%;
    display: block;
}